<title>This is the index page</title>
<body>
<h1>Welcome to
<img border=0 align=absbottom src=/images/brazilicon.gif>
</h1>
This is the text of the index page.
It consists of ordinary html content.
This content is stuffed into the template.
<p>
The sample template puts a page title at the top, a navigation bar
on the left, the page content on the right, and
a copyright notice at the bottom.
<p>
To illustrate the features of this example, try out the links
below.
<dl>
<dt><a href=page2.html>a missing page</a><br>
<dd>Demonstrates customized pages for missing links.
<dt><a href=dir/index.html>Sub directory</a><br>
<dd>Demonstrates an automated breadcrumb strategy based on
    the document directory structure.
<dt><a href=customize.html>customize</a><br>
<dd>Demonstrates per-user customization capabilities.
<dt><a href=meta.html>meta information</a><br>
<dd>Demonstrates how to put "meta" information into an html page to
    alter the way the template operates.
<dt><a href=http://www.experimentalstuff.com/>foreign site</a><br>
<dd>Links to <code>http://www.experimentalstuff.com</code> in the simple
    configuration, but to the local "rewritten" version of
    <code>http://www.experimentalstuff.com</code> if the proxy
    is turned on.
<dt><a href=http:/exp/>www.experimentalstuff.com</a><br>
<dd>Demonstrates "web mount", if it is turned on.
</dl>
